//variables
$blue-bg: #a2c6f8;
$green-border: #77c669;
$pink-border: #de69ad;
$purple-border: #7b69c6;
$orange-border: #f4c632;
$yellow-border: #ffff0d;
$lavender-border: #9da0f0;
$red-border: #c66969;
$blue-border: #427eef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $blue-bg;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100%;

  .title,
  .instructions {
    color: white;
    text-align: center;
    padding: 1em 0;
  }

  .instructions {
    margin-bottom: 2em;
  }
}

.categories {
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1em;

  .activity {
    font-size: 2rem;
    text-align: center;
    .container-border {
      border-radius: 20px 20px 0 0;
      background-color: green;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .type {
      margin-bottom: 0.5em;
    }
    .green {
      background-color: $green-border;
    }
    .pink {
      background-color: $pink-border;
    }
    .purple {
      background-color: $purple-border;
    }
    .orange {
      background-color: $orange-border;
    }
    .yellow {
      background-color: $yellow-border;
    }
    .lavender{
        background-color: $lavender-border;
    }
    .red {
      background-color: $red-border;
    }
    .blue {
      background-color: $blue-border;
    }

    .box {
      height: 300px;
      width: 300px;
      background-color: white;
      border-radius: 0px 0px 20px 20px;
      box-shadow: 15px 4px 15px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;

      .thing {
        color: black;
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 800px) {
  .categories {
    flex-direction: row;
  }
}
